/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body{
   background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQiaayl6XuInornOq4LDrWJXUiMzkOlC1nnDcocebbMpAR8wqFt1Q');


  /* color: #e5e5e5; */
  margin: 0;
}

   .form{
     text-align:center;
   }


img{
  height: 250px;
  width: 250px;
}

.main-grid{
  display: grid;
grid-template-columns: auto auto auto;
border: 1px dotted rgba(0, 0, 0, 0.8);
}
.img img{
height: 130px;
width:130px;
}






/* ******************************************************************************* */


/** Notebook Base **/
.notebook {
  position: absolute;
  width: 900px;
  height:600px;
  top: 30%;
   left: 35%;
  margin: -175px 0 0 -250px;

  background-color: #444;
  background-image:
    -webkit-repeating-radial-gradient(
      center center,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5) 2px,
      transparent 2px,
      transparent 100%
    );
  background-image:
    repeating-radial-gradient(
      center center,
      rgba(0,0,0,.5),
      rgba(0,0,0,.5) 2px,
      transparent 2px,
      transparent 100%
    );
  background-size: 4px 4px;

  border-radius: 15px;
  box-shadow:
    inset 2px 2px 2px rgba(255,255,255,.2),
    2px 2px 3px rgba(0,0,0,.2);
}

/** Left Page **/
.left {
  position: absolute;
  left: 10px; right: 50%;
  top: 10px; bottom: 10px;

  background: rgb(247, 246, 212);

  border-radius: 10px 0 0 10px;
  box-shadow:
    inset -10px 0 30px -10px rgba(0,0,0,.3),
    -2px 2px 1px rgba(0,0,0,.8);
}

/** Right Page **/
.right {
  position: absolute;
  left: 50%; right: 10px;
  top: 10px; bottom: 10px;

  background: rgb(247, 246, 212);

  border-radius: 0 10px 10px 0;
  box-shadow:
    inset 10px 0 30px -10px rgba(0,0,0,.3),
    2px 2px 1px rgba(0,0,0,.8);
}

/** Page inner **/
.page-inner {
  position: absolute;
  top: 30px;
  bottom: 20px;
  left: 15px;
  right: 15px;
  outline: none;
  overflow: scroll;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 19px,
    rgba(0,0,0,.2),
    rgba(0,0,0,.2) 1px
  );
  background-size: 100% 20px;
  box-shadow:
    0 -1px 0 rgba(0,0,0,0.2),
    0 -5px 0 rgb(247, 246, 212),
    0 -6px 0 rgba(0,0,0,0.4);

  font: 14px/20px 'Courgette';

  color: #555;
  text-align: left;
}

::-webkit-scrollbar {
  display: none;
}

/* ********************************************** */
/* sidenav */


#mySidenav a {
  position: absolute;
  left: -150px;
  transition: 0.3s;
  padding: 15px;
  width: 170px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
background-image: url(/assets/like.png);
background-size: cover;
}

#profile {
  top: 80px;
background-image: url(/assets/like.png);
background-size: cover;
}

#messages {
  top: 140px;
background-image: url(/assets/like.png);
background-size: cover;

}

#categories {
  top: 200px;
background-image: url(/assets/like.png);
background-size: cover;

}

#lbook {
  top: 260px;
background-image: url(/assets/like.png);
background-size: cover;

}


/* ******************************************** */


.sticky {
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  background: linear-gradient(to bottom, #feeb8e 0%, #ffefa1 100%);
  padding: 25px;
  border-top-right-radius: 10px 100px;
  border-bottom-right-radius: 10px 100px;
  border-top-left-radius: 5px 50px;
  border-bottom-left-radius: 5px 50px;
  box-shadow: 6px 6px 10px 2px #999;
  margin-top: 20px;
  position: relative;
    transform: translate(25%, -1%)
}
.sticky:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 35px;
  background-image: url(https://dk7jqzmygmr3q.cloudfront.net/ml/neducatio/5b633eca-5c8f-4d4b-8ce0-cf9618e9aec6.image?v=1&type=png);
  background-size: cover;
}
.sticky:after {
  content: "";
  position: absolute;
  height: 300px;
  width: 15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 0;
  left: 0;
}
.sticky img{
height:100px;
width:100px
}


.book-show p{
  display: inline-block;

}
