<h1 class="category-hero-text">All Categories</h1>




  <% @categories = Category.all %>
  <% @categories.each do |catag| %>
    <a href="categories/<%= catag.id %>">
    <%= catag.name %>
  </a>

<% end %>
